<h1>IDEAskills.com is a marketplace for projects looking for skilled talent</h1>

<script type="text/javascript" src="//platform.linkedin.com/in.js">
  extensions: AlumniFacet@//www.linkedin.com/edu/alumni-facet-extension-js
</script>
<script type="IN/AlumniFacet" data-linkedin-schoolid="17911"></script>